@import "variables";

html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display: table;
	width: 100%;
	
	@media #{$breakpoint-TV-mid} {
        font-size: 1.2rem;
    }

	@media #{$breakpoint-TV-max} {
        font-size: 1.5rem;
    }
}
footer {
	display: table-row;
}

.teddy-card__btn{
	align-self: center;
	background-color: #F3E9F1;
	border: none;
	color: #312927;
	text-decoration: none;
	padding: 0.5rem 1rem;
	border-radius: 20px;
	font-weight: 600;
	transition: transform 250ms ease-in-out 0s;
	
	&:hover{
		background-color: #825A5A;
		color: white;
		transform: translateY(-5px);
	}
}

#itemsInCart{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #905BF7;
	color: white;
	width: 2rem;
	border-radius: 40px;
	margin-left: 0.2rem;
}