@import "variables_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "bases";
@import "variables";



.flex-block {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    @media #{$breakpoint-tablet-max} {
        flex-direction: row;
    }
}

#one-teddy_img {
    width: 100%;

    @media #{$breakpoint-tablet-max} {
        width: 95%;
    }
}

.sheet-product__description {
    padding: 1rem 0;

    @media #{$breakpoint-tablet-max} {
        padding: 0rem;
    }
}

.sheet-product__description__order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ajouterProduitPanier {
    background-color: #825A5A;
    border-radius:20px;
    color: white;
    transition: transform 250ms ease-in-out 0s;
    
    &:hover{
        color: #312927;
        background-color: #F3E9F1;
        transform: translateY(-5px);
    }
}

.div_one-teddy-price {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    .sheet-product__description__head {
        margin-right: 0.3rem;
    }
}

.one-teddy_img{
    border-radius: 20px;
    border: 3px solid rgb(131, 84, 30);

    @media #{$breakpoint-tablet-max} {
        height: 100%;
    }
}

.li-quantity input{
    margin-left: 1rem;
    width: 4rem;
}


