@import "variables_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "bases";
@import "variables";

.h1-Orinoco{
    margin-top: 1rem;
}

.card{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-gap: 2rem;
    border: none;

    @media #{$breakpoint-tablet-mid} {
        grid-template-columns: repeat(2, 47.5%);
    }

    @media #{$breakpoint-desktop} {
        grid-template-columns: repeat(3, 31.6%);
    }
}

.teddy-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 10px rgb(204, 204, 204);
    border-radius: 10px;
    color: #292929;
    text-decoration: none;
    &:hover{
        color: #292929;
        box-shadow: 1px 1px 15px rgb(204, 204, 204);
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__pic{
        width: 100%; 
        border-radius: 5px;
    }

    &__btn{
        align-self: center;
        background-color: #F3E9F1;
        color: #312927;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        font-weight: 600;
        transition: transform 250ms ease-in-out 0s;
        
        &:hover{
            background-color: #825A5A;
            color: white;
            transform: translateY(-5px);
        }
    }
}
